.details {
  display: flex;

  .details__item-price-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }

  .details__order {
    margin-top: 15px;

    .counter-box {
      position: relative;
      background-color: $secondary_bg-sec;

      .counter-box__inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        height: 100%;
        padding: 0 13px;
        border: 1px solid $secondary_bg;

        .product-quantity {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          cursor: default;
        }

        .arrow-holder {
          position: relative;
          display: flex;
          width: 30px;
          height: 100%;
          align-items: center;

          cursor: pointer;
        }

        .arrow-holder__right {
          justify-content: flex-end;
          right: -13px;
        }

        .arrow-holder__left {
          justify-content: flex-start;
          left: -13px;
        }

        .arrow {
          position: relative;
          width: 10px;
          height: 6px;

          path {
            fill: $grey_font;
          }
        }

        .arrow_left {
          left: 11px;
          transform: rotate(90deg);
        }

        .arrow_right {
          right: 11px;
          transform: rotate(-90deg);
        }
      }
    }
  }
}
