.main-menu__items {
  display: flex;
  align-items: center;

  .main-menu__items-separator {
    margin: 0 30px;
  }

  & a:hover {
    color: $text_hover;
  }
}

.overlay-menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: rgba(11, 12, 35, 0.98);
  z-index: 5000;
  overflow: hidden;

  button {
    margin: 105px 0 120px;
    line-height: 0.7;
    cursor: pointer;
  }

  .main-menu__items {
    display: flex;
    flex-direction: column;
    @include exo_font($white_font, 30px, 500);

    a:not(:first-child):not(:last-child) {
      margin: 57px 0;
    }

    a:first-child {
      margin-bottom: 57px;
    }

    a:last-child {
      margin-top: 57px;
    }

    .main-menu__items-separator {
      transform: rotate(90deg);
    }
  }

  .overlay-menu-background {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(45deg) translate(-50px, 395px);
    @include exo_font(rgba(255, 255, 255, 0.02), 500px, bold);
    text-transform: lowercase;
    z-index: -1;
  }
}