.wrapper-mob {
  .details-related {
    margin-bottom: 30px;
  }

  .details-related-collapse {
    margin-bottom: 15px;
  }

  .related-wrapper {
    position: relative;
    padding-bottom: 100%;
  }

  .related {
    position: absolute;
    width: calc(100% + 15px);
    top: 15px;
    left: -15px;
  }

  .products__item-wrapper_mobile {
    padding-bottom: 100%;
  }
}

.related-header {
  display: flex;
  justify-content: space-between;

  .pdp-controls {
    nav {
      margin: 0;
    }
  }
}

.details-related {
  @media (min-width: 768px) {
    .related {
      display: grid;
      max-width: 250px;
      grid-gap: 30px;
    }
  }
}
