.general {
  @media (min-width: 768px) {
    display: flex;
    height: 100%;
    margin: 0 90px;
  }
}

.general__center {
  flex-grow: 1;

  @media (min-width: 1440px) {
    padding-right: 31px;
  }

  @media (max-width: 1439px) {
    padding-right: 30px;
  }

  @media (max-width: 767px) {
    margin-right: 15px;
    padding: 0;
  }
}
