.main {
  margin-top: 55px;

  @media (min-width: 768px) {
    margin-top: 0;
    flex-grow: 1;
    overflow: hidden;
  }
}

.home-wrapper {
  height: 100%;
  margin: 0 90px;

  @media (min-width: 768px) {
    display: flex;
  }
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.main-body {
  position: relative;
  height: calc(100% - 50px);
  @include open-sans_font($grey_font, 12px);
  font-weight: 300;
  z-index: 5;
}
