.main {
  margin: 0 60px;
  flex-grow: 1;
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.main-inner {
  height: 100%;

  @media (min-width: 768px) {
    display: flex;
  }
}

.main-body {
  position: relative;
  height: calc(100% - 50px);
  @include open-sans_font($grey_font, 12px);
  font-weight: 300;
  z-index: 5;
}
