.main {
  margin-top: 165px;

  @media (min-width: 768px) {
    height: 100%;
    margin-top: 120px;
    flex-grow: 1;
    overflow: hidden;
  }
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.main-body {
  height: auto;
  position: relative;
  @include open-sans_font($grey_font, 12px);
  z-index: 5;

  @media (min-width: 768px) {
    height: calc(100% - 50px);
  }
}
