.cart {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.cart__inner {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 104px;
  width: 100%;
  height: calc(100% - 104px);
  background-color: rgba(11, 12, 35, 0.98);
  overflow-y: scroll;
  z-index: 405;

  @media (max-width: 374px) {
    top: 88px;
    height: calc(100% - 88px);
  }

  .page-top {
    background-color: rgba(11, 12, 35, 0.98);
  }

  .page-top_hide {
    position: absolute;
    top: 0;
  }

  .cart__content {
    position: relative;
    top: 87px;
    margin: 0 15px;

    @media (max-width: 374px) {
      top: 64px;
    }
  }

  .cart__footer {
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    background-color: rgba(11, 12, 35, 0.98);

    .btns-holder {
      display: grid;
      grid-template-columns: 40px auto 104px;
      grid-column-gap: 15px;

      @media (max-width: 767px) {
        grid-template-columns: 55px auto 149px;
      }

      @media (max-width: 424px) {
        grid-template-columns: 50px auto 127px;
      }

      @media (max-width: 374px) {
        grid-template-columns: 40px auto 104px;
      }
    }

    .btn-del {
      svg {
        width: 11.5;

        @media (max-width: 767px) {
          width: 15px;
        }

        @media (max-width: 424px) {
          width: 13.5px;
        }

        @media (max-width: 374px) {
          width: 11.5px;
        }
      }
    }
  }
}
