.coin-about {
  padding: 29px;

  @media (max-width: 767px) {
    padding: 29px 14px;
  }

  .coin-about__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .coin-about__header-left {
    .price {
      margin-right: 6px;
      @include exo_font($white_font, 15px, 400);

      @media (max-width: 767px) {
        font-size: 24px;
      }

      @media (max-width: 424px) {
        font-size: 20px;
      }

      @media (max-width: 374px) {
        font-size: 16px;
      }

      .price__unit {
        color: $grey_font;
      }
    }

    .dynamics {
      margin-right: 9px;
      @include exo_font($green, 10px, 400);

      @media (max-width: 767px) {
        margin-right: 11px;
        font-size: 12px;
      }

      @media (max-width: 424px) {
        font-size: 11px;
      }

      @media (max-width: 374px) {
        font-size: 10px;
      }
    }

    svg {
      @media (max-width: 767px) {
        width: 6px;
        height: 13px;
      }

      @media (max-width: 374px) {
        width: 5px;
        height: 11px;
      }
    }
  }

  .coin-about__txt-block {
    margin-top: 23px;
    @include standart_font($grey_font, 400);
    line-height: 18px;

    @media (max-width: 767px) {
      line-height: 20px;
    }

    @media (max-width: 424px) {
      line-height: 19px;
    }

    @media (max-width: 374px) {
      line-height: 16px;
    }
  }

  .coin-about__params {
    margin-top: 54px;

    @media (max-width: 767px) {
      margin-top: 25px;
    }

    @media (max-width: 424px) {
      margin-top: 24px;
    }

    h3 {
      line-height: 25px;

      @media (max-width: 767px) {
        line-height: 30px;
      }

      @media (max-width: 424px) {
        line-height: 25px;
      }

      @media (max-width: 374px) {
        line-height: 21px;
      }
    }

    .digit {
      display: flex;
      margin-top: 28px;

      @media (max-width: 767px) {
        margin-top: 30px;
      }

      @media (max-width: 374px) {
        margin-top: 24px;
      }

      .column {
        flex-grow: 1;
        padding-left: 17px;

        .column__header {
          @include standart_font($white_font, 400);
        }

        .column__body {
          margin-top: 28px;

          @media (max-width: 767px) {
            margin-top: 18px;
          }
        }

        .column__item {
          @include open-sans_font($grey_font, 13px);

          @media (max-width: 767px) {
            font-size: 12px;
          }

          @media (max-width: 424px) {
            font-size: 11px;
          }

          @media (max-width: 374px) {
            font-size: 10px;
          }

          &:not(:first-child) {
            margin-top: 11px;

            @media (max-width: 767px) {
              margin-top: 13px;
            }
          }
        }

        .column__item_income {
          color: $white_font;
        }

        .column__item_electricity {
          color: $red;
        }

        .column__item_profit {
          color: $green;
        }
      }

      .column_head {
        padding: 0;
      }
    }
  }
}
