.specification {
  position: relative;
}

.wrapper-mob {
  .details-specifications {
    margin-bottom: 30px;
  }

  .details-specifications-collapse {
    margin-bottom: 15px;
  } 

  .specification {
    margin-top: 15px;
  }
}

.specification__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 60px;
  grid-gap: 1px;
  border: 1px solid $secondary_bg;
  background-color: #3a3b4d;

  @media (max-width: 1919px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 767px) {
    grid-auto-rows: 80px;
  }

  @media (max-width: 424px) {
    grid-template-columns: 1fr;
    grid-auto-rows: 75px;
  }

  @media (max-width: 374px) {
    grid-auto-rows: 65px;
  }
}

.specification__item {
  display: flex;
  padding: 15px;
  background-color: $secondary_bg-sec-hex;

  @media (max-width: 767px) {
    padding: 22px 15px;
  }

  @media (max-width: 424px) {
    padding: 20px 15px;
  }

  @media (max-width: 424px) {
    padding: 17px 15px;
  }

  .icon-holder {
    display: flex;
    width: 30px;

    @media (max-width: 374px) {
      width: 27px;
    }

    svg {
      width: 13px;

      @media (max-width: 767px) {
        width: 15px;
      }

      @media (max-width: 424px) {
        width: 13px;
      }

      @media (max-width: 374px) {
        width: 11px;
      }
    }
  }

  .specs {
    span {
      display: block;
    }

    .specs__name {
      @include standart_font($white_font, 400);

      @media (max-width: 424px) {
        line-height: 19px;
      }

      @media (max-width: 374px) {
        line-height: 16px;
      }
    }

    .specs__value {
      @include standart_font($grey_font, 400);
      line-height: 20px;

      @media (max-width: 767px) {
        line-height: 24px;
      }

      @media (max-width: 424px) {
        line-height: 19px;
      }

      @media (max-width: 374px) {
        line-height: 16px;
      }
    }
  }
}

.specification__item-plug {
  background-color: $secondary_bg-sec-hex;

  @media (min-width: 1920px) {
    display: none;
  }

  @media (max-width: 424px) {
    display: none;
  }
}
