.onsale {
  @media (min-width: 1024px) {
    flex-grow: 1;
    padding-right: 30px;
  }
}

.onsale__header {
  margin-left: 30px;
}

.onsale__body {
  overflow: hidden;
  
  .plug-text {
    margin-left: 30px;
  }
  .products__item {
    margin: 0 0 30px 30px;
  }
}

.products {
  @media (min-width: 1024px) {
    display: flex;
    flex-flow: wrap;
    align-content: flex-start;
    overflow-x: hidden;
  }
}
