.onsale {
  @media (min-width: 1024px) {
    flex-grow: 1;
    padding: 0 30px;
  }
}

.onsale__body {
  overflow: hidden;

  .products__item {
    margin: 0 30px 30px 0;
  }
}

.products {
  @media (min-width: 1024px) {
    display: flex;
    flex-flow: wrap;
    overflow-x: hidden;
  }
}
