.products__item-wrapper {
  position: relative;
}

.products__item {
  box-sizing: border-box;
  width: 213px;
  height: 213px;
  padding: 15px 0;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: $secondary_bg;
  // transition: background 0.3s ease-in;

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid $secondary_bg-sec;
  }
}

.products__item-inner {
  position: relative;
  height: 100%;
  overflow: hidden;

  //  ORDER block
  .order {
    position: absolute;
    bottom: -90px;
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px;
    animation: 0.3s ease-in;

    .order__price {
      @include open-sans_font($white_font, 16px);
      font-weight: bold;
    }

    .order__psu {
      @include open-sans_font($green, 10px);
      text-transform: uppercase;
    }

    .order__btns-wrapper {
      display: flex;
      justify-content: space-between;

      .order__btn-details {
        @include dark_btn(84px, 30px);
      }

      .order__btn-add {
        @include blue_btn(84px, 30px);

        &:hover {
          background-color: #26268f;
        }
      }
    }
  }

  .order_hover-on {
    bottom: 0;
    animation-name: order-hover-on;
  }

  .order_hover-off {
    animation-name: order-hover-off;
  }

  .select-wrapper {
    height: 30px;
    margin: 15px 0;

    .select__list {
      top: 30px;
    }
  }
}

.products__item-header {
  padding: 0 15px;
}

.products__item-header-text {
  z-index: 11;
}

.poducts__item-title {
  margin-bottom: 7px;
  @include open-sans_font($grey_font, 12px);
  line-height: 0.8;
}

.products__item-hash {
  @include open-sans_font($white_font, 12px);
}

// IMG block

.products__item-img {
  width: 100%;
  height: 115px;
  margin: 12px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  animation: 0.3s ease-in;
}

.item-img_hover-on {
  filter: blur(20px);
  background-color: $dark_btn_color;
  animation-name: image-hover-on;
}

.item-img_hover-off {
  animation-name: image-hover-off;
}

// @keyframes image-hover-on {
//   from {
//     filter: none;
//     background-color: rgba(0, 0, 0, 0);
//   }
//   to {
//     filter: blur(20px);
//     background-color: $dark_btn_color;
//   }
// }

// @keyframes image-hover-off {
//   from {
//     filter: blur(20px);
//     background-color: $dark_btn_color;
//   }
//   to {
//     filter: none;
//     background-color: rgba(0, 0, 0, 0);
//   }
// }

// @keyframes order-hover-on {
//   from {
//     bottom: -95px;
//   }
//   to {
//     bottom: 0;
//   }
// }

// @keyframes order-hover-off {
//   from {
//     bottom: 0;
//   }
//   to {
//     bottom: -95px;
//   }
// }
