.header {
  position: fixed;
  width: 100%;
  padding-top: 30px;
  @include exo_font($white_font, 14px, bold);
  text-transform: uppercase;
  background-color: #0b0c23;
  z-index: 404;

  @media (min-width: 768px) {
    position: static;
  }

  button {
    @include exo_font($white_font, 14px, bold);
    text-transform: uppercase;
    color: #fff;
  }

  .controls-btn {
    line-height: 0.7;
    cursor: pointer;

    @media (min-width: 768px) {
      display: none;
    }
  }

  .logo-wrapper {
    .logo {
      height: 18px;
      cursor: pointer;

      @media (min-width: 768px) {
        height: auto;
      }
    }
  }
}

.header__navbar-full,
.header__navbar-short {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 60px;

  @media (min-width: 768px) {
    padding: 0 30px;
  }
}

.header__navbar-short {
  @media (max-width: 767px) {
    .controls-btn,
    .cart {
      visibility: hidden;
    }
  }
}

.main-menu {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);

  @media (min-width: 1920px) {
    transform: translate(-50%, 5px);
  }

  @media (max-width: 767px) {
    display: none;
  }

  .burger-btn {
    @media (min-width: 1920px) {
      display: none;
    }
  }
}

.account-menu {
  position: relative;
}

.account-menu__btn-group {
  @media (max-width: 767px) {
    display: none;
  }

  button {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:first-child {
      margin-right: 30px;
    }
  }

  .pencil-icon,
  .login-icon {
    margin-right: 10px;
  }
}

.header__title {
  position: fixed;
  height: 85px;
  top: 111px;
  background: #0b0c23;
  width: 100%;
  z-index: 401;

  @media (min-width: 768px) {
    display: none;
  }
}
