.header {
  @include exo_font($white_font, 14px, bold);
  text-transform: uppercase;

  button {
    @include exo_font($white_font, 14px, bold);
    text-transform: uppercase;
    color: #fff;
  }
}

.main-menu {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.account-menu {
  position: relative;
}

.account-menu__btn-group {
  button {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:first-child {
      margin-right: 30px;
    }
  }

  .pencil-icon,
  .login-icon {
    margin-right: 10px;
  }

  @media (max-width: 767px) {
    display: none;
  }
}
