html,
body,
#root {
  @media (min-width: 768px) {
    height: 100vh;
  }
}

#root {
  display: flex;
  flex-direction: column;
}

.stop-scroll-y {
  height: 100vh;
  overflow: hidden;
}

body {
  box-sizing: border-box;
  background-color: $main_bg;
}

h2 {
  font-family: "Exo", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: $white_font;
  line-height: 0.9;

  @media (min-width: 768px) {
    font-size: $desctop_h2_size;
  }

  @media (max-width: 767px) {
    font-size: $mob_h2_425;
  }

  @media (max-width: 424px) {
    font-size: $mob_h2_375;
  }

  @media (max-width: 374px) {
    font-size: $mob_h2_320;
  }
}

.h4-mob {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: $white_font;
}

.span-mob {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: $grey_font;
}

.h4-mob,
.span-mob,
.btn-text-mob {
  text-transform: none;

  @media (min-width: 425px) {
    font-size: 16px;
  }

  @media (max-width: 424px) {
    font-size: 15px;
  }

  @media (max-width: 374px) {
    font-size: 12px;
  }
}

input {
  border: 0;
  outline: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: $white_font;
  background-color: rgba(0, 0, 0, 0);

  &::placeholder {
    color: $grey_font;
  }

  @media (min-width: 768px) {
    font-size: 12px;
  }

  @media (max-width: 767px) {
    font-size: 16px;
  }

  @media (max-width: 424px) {
    font-size: 15px;
  }

  @media (max-width: 374px) {
    font-size: 12px;
  }
}

.input-holder {
  @media (min-width: 768px) {
    height: 30px;
  }

  @media (max-width: 767px) {
    height: 55px;
  }

  @media (max-width: 424px) {
    height: 50px;
  }

  @media (max-width: 374px) {
    height: 40px;
  }

  input {
    cursor: default;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  &:focus {
    outline: none;
  }
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute !important;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.w-100 {
  width: 100%;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer;
}

.line-height-8 {
  line-height: 0.8;
}

@media (max-width: 1919px) {
  .responsive-1919 {
    display: none;
  }
}
