html,
body,
#root {
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  box-sizing: border-box;
  margin: 0 15px;
  background-color: $main_bg;

  @media (min-width: 425px) {
    margin: 0 30px;
  }
}

h2 {
  text-transform: uppercase;
  line-height: 0.9;

  @media (min-width: 768px) {
    @include exo-font($white_font, $desctop_h2_size, 500);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  &:focus {
    outline: none;
  }
}

.p-relative {
  position: relative;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.w-100 {
  width: 100%;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.desctop-menu-points-separator {
  margin: 0 30px;
}

.cursor-pointer {
  cursor: pointer;
}

.text-underline {
  text-decoration: underline;
}

.line-height-8 {
  line-height: .8;
}
