@mixin block_centered_content($width, $height, $bg) {
  position: relative;
  display: flex;
  min-width: $width;
  height: $height;
  align-items: center;
  justify-content: center;
  background-color: $bg;
}

@mixin drop_menu($width, $right, $diamond_right) {
  position: absolute;
  display: none;
  top: 0;
  right: $right;
  width: $width;
  padding-top: 40px;
  text-transform: none;
  @include open-sans_font($grey_font, 12px);
  z-index: 21;

  button {
    display: block;
  }

  .drop-menu__inner {
    position: relative;
    border-top: 1px solid $grey_font;
    background-color: $popup_bg;

    .diamond-part {
      @include diamond_part($diamond_right);
    }
  }

  .drop-menu__header {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    align-items: center;
    border-bottom: 1px solid rgba(196, 196, 196, 0.2);

    h4 {
      @include open-sans_font($white_font, 16px);
    }
  }

  .drop-menu__link {
    &:hover {
      color: $white_font;
    }
  }

  .drop-menu__box {
    padding: 15px;
  }

  .drop-menu__footer {
    padding: 20px 15px;
    border-top: 1px solid rgba(196, 196, 196, 0.2);
  }

  .drop-menu__btn-wrapper {
    padding: 20px 0;
  }

  // NOTIFY
  .drop-menu__notify-item-icon {
    margin-right: 10px;
  }
}
