@mixin open-sans_font($color, $size) {
  font-family: "Open Sans", sans-serif;
  font-size: $size;
  font-style: normal;
  font-weight: 300;
  color: $color;
}

@mixin exo_font($color, $size, $weight) {
  font-family: "Exo", sans-serif;
  font-size: $size;
  font-style: normal;
  font-weight: $weight;
  color: $color;
}