.listings {
  display: none;
  padding: 0 31px 0 30px;

  @media (min-width: 1440px) {
    display: block;
  }
}

.listings__body {
  overflow: hidden;

  .scroll-container {
    overflow-y: scroll;
  }

  .products__item {
    margin-bottom: 30px;
  }
}
