.select {
  position: relative;
  height: 100%;
  overflow: hidden;
  z-index: 10;
}

.select__shown-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  border: 1px solid $secondary_bg;
  background-color: rgba(23, 24, 46, 0.8);
}

.select__show-title {
  cursor: default;
}

.select__show-btn {
  cursor: pointer;
}

.select__show {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 9px 10px 13px;
  border: 1px solid $secondary_bg;
}

.select__list {
  position: absolute;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 8px 15px;
  background-color: rgba(23, 24, 46, 0.8);

  li {
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }
}
