.drop-list {
  position: relative;
  width: 100%;
  margin-top: 15px;
  background-color: $secondary_bg-sec;

  .drop-list__inner {
    box-sizing: border-box;
    height: 100%;
    padding: 15px;
    border: 1px solid $secondary_bg;
    color: $grey_font;
  }

  .drop-list__item {
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }
}
