.auth-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;

  .auth-content__social-wrapper,
  .auth-content__form {
    margin: 38px 0;
  }

  .auth-content__social-link {
    @include block_centered_content(40px, 40px, $secondary_bg);

    &:not(:last-child) {
      margin-right: 30px;
    }

    &:hover {
      background-color: $hover_btn;
    }
  }

  .auth-content__or {
    position: relative;
    @include open-sans_font($white_font, 16px);
    font-weight: 300;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0%;
      width: 130px;
      height: 1px;
      background-color: #fff;
      opacity: 0.2;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0%;
      width: 130px;
      height: 1px;
      background-color: #fff;
      opacity: 0.2;
    }
  }

  .auth-content__form {
    input {
      box-sizing: border-box;
      display: block;
      width: 320px;
      height: 40px;
      padding: 15px;
      border: 1px solid transparent;
      @include open-sans_font($grey_font, $desctop_size_font);
      font-weight: 300;
      background-color: $secondary_bg;
      outline: 0;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      &:hover {
        background-color: $secondary_bg-sec;
        color: $white_font;
      }
    }

    .info-icon {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);      
    }
  }

  .auth-content__form-tips {
    @include open-sans_font($grey_font, 12px);
    text-align: right;
    text-transform: initial;
    font-weight: 300;

    a {
      @include open-sans_font($white_font, 12px);
      text-transform: initial;
      font-weight: 300;
    }
  }

  .auth-content__btn {
    @include btn_main(130px, 40px, $secondary_bg, 14px);

    &:hover {
      background-color: $hover_btn;
    }
  }
}
