.auth-content {
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  width: 100%;
  padding: 0 30px;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 768px) {
    width: auto;
    padding: 0;
  }

  .auth-content__social-wrapper {
    margin-top: 90px;

    @media (min-width: 768px) {
      margin-top: 38px;
    }
  }

  .auth-content__social-link {
    @include block_centered_content(40px, 40px, $secondary_bg);

    &:not(:last-child) {
      margin-right: 30px;
    }

    &:hover {
      background-color: $hover_btn;
    }
  }

  .auth-content__or {
    position: relative;
    margin: 53px 0;
    @include open-sans_font($white_font, 16px);
    font-weight: 300;

    @media (min-width: 768px) {
      margin: 38px 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0%;
      width: calc(50% - 25px);
      height: 1px;
      background-color: #fff;
      opacity: 0.2;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0%;
      width: calc(50% - 25px);
      height: 1px;
      background-color: #fff;
      opacity: 0.2;
    }
  }

  .auth-content__form {
    .auth-content__input-wrapper {
      position: relative;

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      input {
        position: relative;
        box-sizing: border-box;
        display: block;
        width: 100%;
        height: 40px;
        padding: 15px;
        border: 1px solid transparent;
        @include open-sans_font($grey_font, $desctop_size_font);
        font-weight: 300;
        background-color: $secondary_bg;
        outline: 0;
        z-index: 11;

        @media (min-width: 768px) {
          width: 320px;
        }

        &::placeholder {
          color: $grey_font;
        }

        &:hover {
          background-color: $secondary_bg-sec;
          color: $white_font;
        }
      }
    }

    .field-error,
    .email-error,
    .password-error,
    .password-confirm-error {
      display: none;
      position: absolute;
      bottom: -3px;
      left: 10px;
      padding: 0 5px;
      @include open-sans_font(#ff4757, 9px);
      font-weight: 300;
      text-transform: initial;
      background-color: $main_bg;
      z-index: 11;
    }
  }

  .auth-content__terms {
    @include open-sans_font($grey_font, 12px);
    text-align: right;
    text-transform: initial;
    font-weight: 300;

    .terms-link {
      @include open-sans_font($white_font, 12px);
      text-transform: initial;
      font-weight: 300;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .auth-content__btn {
    @include btn_main(130px, 40px, $secondary_bg, 14px);

    &:hover {
      background-color: $hover_btn;
    }
  }
}
