// Diamond part

@mixin diamond_part($diamond_right) {
  position: absolute;
  top: -6.5px;
  right: $diamond_right;
  width: 10px;
  height: 10px;
  transform: rotate(-45deg);
  border-top: 1px solid $grey_font;
  border-right: 1px solid $grey_font;
  background-color: $popup_bg;

  // .diamond-layer-light {
  //   border-top: 10px solid transparent;
  //   border-right: 10px solid transparent;
  //   border-bottom: 10px solid #c4c4c4;
  //   border-left: 10px solid transparent;
  //   z-index: -1;
  // }

  // .diamond-layer-dark {
  //   position: absolute;
  //   top: 15px;
  //   left: 2.5px;
  //   width: 15px;
  //   height: 15px;
  //   transform: rotate(45deg);
  //   background-color: $popup_bg;
  // }
}

//*** Box Decor

$pos: 0;
@mixin box_decor($dim) {
  position: absolute;
  width: $dim;
  height: $dim;
  background-color: #dadada;
}

.corner-top-left {
  @include box_decor(1px);
  top: $pos;
  left: $pos;
}

.corner-top-right {
  @include box_decor(1px);
  top: $pos;
  right: $pos;
}

.corner-bottom-left {
  @include box_decor(1px);
  bottom: $pos;
  left: $pos;
}

.corner-bottom-right {
  @include box_decor(1px);
  bottom: $pos;
  right: $pos;
}

.corner-top-left-thick {
  @include box_decor(1px);
  top: $pos;
  left: $pos;
}

.corner-top-right-thick {
  @include box_decor(1px);
  top: $pos;
  right: $pos;
}

.corner-bottom-left-thick {
  @include box_decor(1px);
  bottom: $pos;
  left: $pos;
}

.corner-bottom-right-thick {
  @include box_decor(1px);
  bottom: $pos;
  right: $pos;
}

//*** ENDBox Decor
