.details__right {
  .description-shipping {
    padding: 30px;
  }
}

.wrapper-mob {
  .details-description {
    margin-bottom: 30px;
  }

  .details-description-collapse {
    margin-bottom: 15px;
  }

  .description {
    padding: 29px 14px;
  }
}

.description__main-txt {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: $white_font;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 23px;
  }

  @media (max-width: 767px) {
    line-height: 20px;
  }

  @media (max-width: 424px) {
    font-size: 15px;
    line-height: 19px;
  }

  @media (max-width: 374px) {
    font-size: 12px;
    line-height: 16px;
  }
}

.description__conditions {
  margin-top: 28px;
  color: $white_font;
}

.description__conditions-item {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 14px;
  }

  .icon-holder {
    width: 30px;
  }

  .bullet {
    line-height: 15px;
  }
}

.description__seller-text {
  margin-top: 17px;
  padding-left: 30px;
  color: $grey_font;

  span {
    display: block;
    line-height: 15px;

    @media (max-width: 767px) {
      line-height: 20px;
    }

    @media (max-width: 424px) {
      line-height: 19px;
    }

    @media (max-width: 374px) {
      line-height: 16px;
    }
  }
}

.description__conditions,
.description__seller-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: $desctop_size_font_p;

  @media (max-width: 767px) {
    font-size: 16px;
  }

  @media (max-width: 424px) {
    font-size: 15px;
  }

  @media (max-width: 374px) {
    font-size: 12px;
  }
}
