.general__center {
  .details {
    display: flex;
    height: 100%;
  }

  .details__left,
  .details__right {
    margin-left: 30px;
  }

  .details__right {
    position: relative;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;

    .details__main-inner {
      position: relative;
      top: -18px;

      section:last-child {
        .content-wrapper {
          padding-bottom: 42px;
        }
      }
    }

    .content-wrapper {
      padding-bottom: 60px;
    }
  }

  .details__footer section:last-child {
    .content-wrapper {
      padding-bottom: 0;
    }
  }
}

.magic-header {
  position: sticky;
  top: -1px;
  width: calc(100% + 1px);
  height: 48px;
  background-color: $main_bg;
  z-index: 11;

  .pdp-controls {
    nav {
      margin: 0;
    }
  }
}

.wrapper-mob {
  .details {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 15px;
    }
  }

  .details-collapse {
    margin-bottom: 0;
  }

  .sticky-header {
    position: sticky;
    top: 103px;
    padding: 1px 0 15px;
    background: #0b0c23;
    z-index: 55;

    @media (max-width: 374px) {
      top: 87px;
    }
  }
}
