.seller-info-header {
  margin-top: 57px;
}

.seller-info {
  padding: 14px 24px;

  @media (min-width: 768px) {
    display: flex;
    margin-top: 28px;
    padding: 0;
    justify-content: space-between;
    flex-flow: wrap;
  }
}

.seller-info__person {
  padding-bottom: 26px;

  @media (max-width: 1768px) {
    padding-bottom: 30px;
  }

  @media (min-width: 768px) {
    display: flex;
    margin-right: 25px;
    padding-bottom: 15px;
  }

  .seller-img-holder {
    position: relative;

    @media (min-width: 768px) {
      margin-right: 20px;
    }
  }

  .seller-img-holder__ava {
    display: block;
    margin: auto;
    border-radius: 50%;

    @media (min-width: 768px) {
      margin: 0;
    }
  }

  .seller-img-holder__chat {
    position: absolute;
    top: 55%;
    right: 41%;
    cursor: pointer;

    @media (min-width: 768px) {
      right: -20%;
    }
  }

  .seller-rating-holder {
    padding-top: 13px;
    text-align: center;

    @media (min-width: 768px) {
      padding-top: 5px;
    }
  }

  .seller-rating-holder__name {
    position: relative;

    @media (max-width: 767px) {
      display: flex;
      justify-content: center;
    }

    .name {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: $desctop_size_font_p;
      color: $white_font;

      @media (max-width: 767px) {
        font-size: 16px;
      }

      @media (max-width: 424px) {
        font-size: 15px;
      }

      @media (max-width: 374px) {
        font-size: 12px;
      }
    }

    .verified {
      display: flex;
      align-items: flex-end;
      margin-left: 10px;

      @media (min-width: 768px) {
        position: absolute;
        display: flex;
        top: 25%;
        right: -17px;
        margin: 0;
      }
    }
  }

  .seller-rating-holder__stars {
    @media (max-width: 767px) {
      margin-top: 6px;
    }
  }
}

.seller-info__data {
  display: flex;
  align-self: flex-end;

  .seller-info__data-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .seller-info__data-item {
    &:not(:last-child) {
      margin-right: 10px;
    }

    @media (min-width: 768px) {
      &:not(:last-child) {
        margin-right: 36px;
      }
    }

    span {
      display: block;
    }

    .item__value {
      font-family: "Exo", sans-serif;
      text-align: center;
      color: $white_font;
      font-size: 32px;
      font-weight: 400;

      @media (max-width: 424px) {
        font-size: 26px;
      }

      @media (max-width: 374px) {
        font-size: 22px;
      }
    }

    .item__caption {
      margin-top: 6px;
      text-align: center;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 10px;
      color: $grey_font;

      @media (max-width: 767px) {
        font-size: 12px;
      }

      @media (max-width: 424px) {
        font-size: 11px;
      }

      @media (max-width: 374px) {
        font-size: 10px;
      }
    }
  }
}
