.general__center {
  .details {
    display: flex;
    height: 100%;
  }

  .details__left,
  .details__right {
    margin-left: 30px;
  }

  .details__right {
    position: relative;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;

    .content-wrapper {
      padding-bottom: 60px;
    }
  }
}

.magic-header {
  position: sticky;
  top: 0;
  height: 48px;
  background-color: $main_bg;
  z-index: 11;
}

.wrapper-mob {
  .details {
    margin-bottom: 30px;
  }

  .details-collapse {
    margin-bottom: 15px;
  }
}

.details-header-combine {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }

  .pdp-controls {
    nav {
      margin: 0;
    }
  }
}
